$color: 'red';

body {
    background: #46ef13;
}

h1 {
    background: orange;
    padding: 5px;
}

.container {
    h1 {
        color: blue;
        padding: 10px;
    }
    h2 {
        color: blue;
        background: gray;
        border-radius: 5px;
    }
}
